* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

header {
  background-color: #e9e9e9;
}

.header-content {
  height: 80px;
  background: #1e2859;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 18px 10px #aaaaaa;
}

.header-content .navigation-list {
  display: flex;
}

.navigation-list li {
  list-style: none;
  margin: 0 20px;
}

.navigation-list li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
}

.introduction {
  display: flex;
}

.introduction .introduction-content {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introduction-content h1 {
  color: #1e2859;
  font-size: 88px;
  text-align: center;
  font-weight: 900;
}

.introduction-content p {
  font-size: 32px;
  text-align: center;
  padding: 20px 0;
  font-weight: 400;
}

.introduction-content button {
  padding: 12px;
  margin: 20px;
  background-color: #b48b3f;
  color: #e9e9e9;
  border: none;
  font-size: 24px;
  font-weight: 500;
}

.introduction .introduction-image {
  width: 50%;
}

.introduction-image img {
  width: 100%;
}

main {
  padding: 40px 0;
}

.categories-container {
  display: flex;
  justify-content: space-around;
}

.categories-container .category {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e2859;
  padding: 20px;
}

.category img {
  width: 60px;
  margin: 20px 0;
}

.category h2 {
  color: #e9e9e9;
  font-size: 24px;
  padding: 20px 0;
}

.category p {
  color: #e9e9e9;
  padding: 20px;
}

footer {
  background-color: #1e2859;
}

.footer-links {
  padding: 20px 0;
}

.footer-links h2 {
  color: #e9e9e9;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.footer-links .links-list {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}

.links-list li{
  list-style: none;
}

.links-list li a {
  text-decoration: none;
  color: #e9e9e9;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.links-list li img {
  width: 30px;
  margin-right: 10px;
}